body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.article_content {
  width: 100%;
  padding-top: 50px;
}

p {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: 1.2em;
}

.article-image-box {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin-bottom: 20px;
  justify-content: center;
  align-content: flex-start;
  gap: 50px;
  border-top: 1px solid #472a23;
  border-bottom: 1px solid #472a23;
  padding: 50px 0;
}

.article-image {
  width: 100%;
  height: auto;
  border: 1px solid #472a23;
}

.article-image-box[data-layout="row"] .article-image-container {
  flex-grow: 2;
  flex-basis: 0px;
}

.article-image-box[data-layout="row"] .article-image-caption-container {
  flex-grow: 1;
  flex-basis: 0px;
}

.article-image-box[data-layout="column"] .article-image-container,
.article-image-box[data-layout="column"] .article-image-caption-container {
  flex-grow: 1;
  flex-basis: 0px;
}

.article-image-box[data-layout="column"] {
  flex-direction: column;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  gap: 20px;
}

.articleFooterContainer {
  display: flex;
  padding: 30px;
  padding-bottom: 20px;
  border-top: 1px solid #472a23;
  flex-direction: column;
  align-items: center;
}

.articleFooter {
  color: #472a23;
}

.articleFooter a {
  color: #703d3a;
}

.articleTitle {
  font-family: "Hepta Slab", serif;
  font-weight: 700;
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
}

h2 {
  font-family: "Hepta Slab", serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
  padding-top: 20px;
}

.pfpPicture {
  width: 50px;
  padding-right: 20px;
}

.authorContainer {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
  color: #703d3a;
  border-bottom: 1px solid #472a23;
  padding-bottom: 20px;
}

.dates{
  color: #472a23;
      display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.author {
  color:#703d3a;
  cursor: pointer;
}